.hero {
  background-image: url("../image/hero-banniere.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__contenu {
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 50px;
    padding: 20px;
    background-color: rgb(223, 218, 218, 0.5);
    border-radius: 4px;
  }

  &__logo,
  &__bouton {
    margin: 16px 0 16px 0;
  }

  &__titre {
    font-size: 2rem;
  }
}
