.piedpage {
  display: flex;
  padding-top: 20px;
  background-color: #facfb4;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  &__container {
    width: 80%;
  }

  form {
    width: 100%;
  }

  &__menu {
    list-style: none;
    gap: 20px;

    &-principal {
      display: flex;
    }
  }

  &__ligne {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  &__droits {
    font-size: 0.75rem;
  }
}

.piedpage p {
  max-width: 50ch;
}
