.piedpage {
  display: flex;
  padding-top: 20px;
  background-color: #facfb4;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  &__nav {
    display: flex;
    gap: 20px;
  }

  &__menu-item {
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__droits {
    font-size: 0.75rem;
  }
}
