/**
///////////////////////// Composante .recherche
*/
.recherche {
  display: flex;
  align-items: center;
  &__input {
    border: 1px solid #aaa;
    width: 100%;
  }
  &__bouton {
    border-left: 1px solid #aaa;
  }
}
